@import 'variables';
.loader-container {
    position: relative;
    width: 100%;
    padding: 30px
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    margin: 20px auto;
    border-spacing: 0px 20px;
    box-shadow: $box-shadow;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

th {
    color: black;
    font-weight: bold;
    position: relative;
}

th {
    border-left: 1px solid #e3e8f3;
}

th:first-child,
th:last-child {
    border-left: none;
}

td,
th {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #e3e8f3;
}
/* resizer */

th .resizer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    user-select: none;
}

.resizer:hover,
.resizing {
    border-right: 2px solid $primary-color;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        width: 100%;
    }
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    thead tr {
        border: none;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
    }
}

.head-cell {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.ordering-icons {
    color: rgb(175, 171, 171);
    display: inline-flex;
    flex-direction: column;
    font-size: 15px;
    margin: 0px 10px;
}

i.icon.rotate {
    transition: 0.2s all ease;
    transform: rotate(180deg);
}

i.icon.active {
    color: $primary-color;
}

.empty-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    i {
        color: $primary-color;
        font-size: 40px;
        margin: 10px 0px;
    }
}

 