<div *ngIf="!isLoading else loading" class="page-layout">
    <div class="stats-cards">
        <div *ngFor="let card of cards" class="stats-card">
            <div [routerLink]="['/','dashboard',card.route]" RippleEffect class="content-card">
                <div class="content">
                    <div class="title">Total {{card.title}}</div>
                    <div [style.color]="card.color" class="counter">{{card.number}}</div>
                </div>
                <div [style.background-color]="card.color" class="navigation-button">
                    Show More
                    <i class="las la-arrow-right"></i>
                </div>
            </div>
            <div [style.background-color]="card.color" class="icon-container">
                <i [class]="card.icon"></i>
            </div>
        </div>
         

    </div>
</div>

<ng-template #loading>
    <div class="loader-container">
        <div class="ui active loader"></div>
    </div>
</ng-template>