$primary-color:#093F6F;
$accent-color:#AB8302;
$bg-color: white;
$menu-bg-color:#17263A;
$menu-fr-color: white;
$default-border:1px solid #e7e7e78f;
$box-shadow:rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
rgba(145, 158, 171, 0.24) 0px 16px 32px -4px;