<swiper dir="ltr" *ngIf="sliders.length > 0" class="hero-swiper" [config]="config" #swiper (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange($event)">
    <ng-template *ngFor="let slider of sliders ; let i = index;" swiperSlide>
        <div class="hero">
            <img class="hero-img" [src]="slider.image?.path" alt="">
            <div *ngIf="currentIndex == i+1 || currentIndex == sliders.length+1" class="hero-content">
                <div class="content">
                    <div [textContent]="currentLang == 'ar' ? slider.subtitle?.ar : slider.subtitle?.en"
                        class="subtitle"></div>
                    <div [textContent]="currentLang == 'ar' ? slider.title?.ar : slider.title?.en" class="title"></div>
                    <div [textContent]="currentLang == 'ar' ? slider.description?.ar : slider.description?.en"
                        class="content"> </div>
                    <div (click)="ngZonedNavigation(slider.url!)" [innerHTML]="'Home.readmore' | translate" class="act-button"></div>

                </div>
            </div>
        </div>
    </ng-template>
</swiper>
<!-- intro section -->
<div class="intro-section">
    <div class="bg-area">

    </div>
    <div class="shape"></div>
    <div class="images-section">
        <div class="pattern-dots-md gray-light image-container">
            <img [src]="baseUrl + 'general/54899526-8846-4521-b160-4eccbb111a30.jpg'" alt="">
        </div>
    </div>
    <div class="content-section">
        <div [innerHTML]="'Home.intro_section_subtitle' | translate" class="subtitle">

        </div>
        <div [innerHTML]="'Home.intro_section_title' | translate" class="title">

        </div>
        <div [innerHTML]="'Home.intro_section_content' | translate" class="content">

        </div>
        <div [innerHTML]="'Home.readmore' | translate" class="act-button accent">Read More</div>

    </div>
</div>
<!-- Focus area section -->
<div class="focus-area-section">
    <div [innerHTML]="'Home.sector_title' | translate" class="title"></div>
    <hr class="sep">
    <h3 [innerHTML]="'Home.sector_subtitle' | translate"> </h3>
    <div class="sectors-cards">
        <div [routerLink]="['/',currentLang,'what-we-do',sector.id]" *ngFor="let sector of sectors" class="sector-card-container">
            <div  class="sector-card">
                <div class="icon-container">
                    <svg-icon class="icon" [src]="sector.icon?.path!" [applyClass]="true"></svg-icon>
                </div>
                <div [textContent]="currentLang == 'ar' ? sector.title?.ar : sector.title?.en" class="card-title"></div>
            </div>
        </div>

    </div>
</div>
<!-- Partners Area -->
<div class="partners-section">
    <div class="content-section">
        <div [class.rtl]="currentLang == 'ar'" style="z-index: -1;" class="pattern pattern-diagonal-lines-sm gray-light"></div>
        <div [innerHTML]="'Home.partner_subtitle' | translate" class="subtitle">

        </div>
        <div [innerHTML]="'Home.partners_title' | translate" class="title">
        </div>
        <div [innerHTML]="'Home.partners_content' | translate" class="content">Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Harum nam voluptatem consectetur
        </div>
    </div>
    <div class="logos-section">
        <div class="logos">
            <a [attr.href]="partner.url" *ngFor="let partner of partners" class="logo-container">
                <img [src]="partner.logo?.path" alt="">
            </a>

        </div>
    </div>

</div>
<!-- Media Area -->
<div class="media-section">
    <ng-container *ngIf="mainVideo">
        <div [style.background-image]="'url('+ mainVideo.thumbnail?.path+')'"  (click)="showMediaViewer('video',[mainVideo.url!],0)" class="video-section">
            <div class="content">
                <div class="play-icon">
                    <i class="cil-media-play"></i>
                </div>
                <h4 [innerHTML]="'Home.video_subtitle' | translate" class="subtitle">
    
                </h4>
                <h1 [innerHTML]="'Home.video_title' | translate" class="bg-content">
    
                </h1>
            </div>
        </div>
    </ng-container>
    <div class="gallery-section">
        <swiper  [autoplay]="{delay:2000}" [loop]="true" [slidesPerView]="3.5">
            <ng-template *ngFor="let image of gallery; let i = index;"  swiperSlide>
                <img (click)="showGalleryInMediaViewer(i)" [src]="image.thumbnail?.path" alt="">
            </ng-template>
             
        </swiper>
    </div>
</div>
<div *ngIf="testimonials.length > 0" class="testimonial-section">
    <h1 [innerHTML]="'Home.testimonial_title' | translate" class="title"></h1>
    <hr class="sep">
    <h3 [innerHTML]="'Home.testimonial_subtitle' | translate"></h3>
    <swiper dir="ltr" [autoplay]="{delay:3000}" [slidesPerView]="1">
        <ng-template *ngFor="let testimonial of testimonials" swiperSlide>
            <div class="testimonial">
                <p [textContent]="currentLang == 'ar' ? testimonial.content?.ar : testimonial.content?.en"
                    class="content">

                </p>
                <div class="author">
                    <img [src]="testimonial.image?.path" alt="">
                    <div>
                        <div [textContent]="currentLang == 'ar' ? testimonial.author?.ar : testimonial.author?.en"
                            class="name"></div>
                        <div [textContent]="currentLang == 'ar' ? testimonial.job?.ar : testimonial.job?.en"
                            class="pos"></div>
                    </div>
                </div>
            </div>
        </ng-template>

    </swiper>
</div>
<div *ngIf="articles.length > 0" class="news-section">
    <div class="intro-sec">
        <div class="content">
            <h4 [innerHTML]="'Home.articles_subtitle' | translate" class="subtitle">
            </h4>
            <h1 [innerHTML]="'Home.articles_title' | translate" class="title">
            </h1>
            <hr class="sep">
        </div>
    </div>
    <div class="news">
        <swiper dir="ltr" [autoplay]="{delay:1000}" [breakpoints]="newsSliderBreakpoints">
            <ng-template *ngFor="let article of articles" swiperSlide>
                <div [routerLink]="['/',currentLang,'articles',article.id]" [dir]="currentLang == 'ar' ? 'rtl': 'ltr'" class="new-card">
                    <div class="main-section">
                        <img [src]="article.image?.path">
                        <div class="overlay">
                            <div [textContent]="currentLang == 'ar' ? article.subtitle?.ar : article.subtitle?.en"
                                class="subtitle">
                            </div>
                            <h3 [textContent]="currentLang == 'ar' ? article.title?.ar : article.title?.en"
                                class="title">
                            </h3>
                            <div class="date-container">
                                <div class="date">
                                    <div class="day">21</div>
                                    <div class="month">July</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="extra-section">
                        <div class="author info">
                            <i class="las la-user-tie"></i>
                            By: <span> {{article.author?.username}}</span>
                        </div>
                        <div class="info">
                            <i class="las la-comments"></i>
                            <span>{{article.comments?.length}} Comments</span>
                        </div>
                        <div class="sep"></div>
                        <div [innerHTML]="'Home.readmore' | translate" class="readmore">

                            <i class="las la-arrow-right"></i>
                        </div>
                    </div>

                </div>
            </ng-template>
 
        </swiper>
    </div>
</div>
<div  [class.active]="showMediaViewerActive" class="media-viewer">
    <swiper *ngIf="showMediaViewerActive" [initialSlide]="selectedMediaIndex" [slidesPerView]="1">
        <ng-template *ngFor="let item of media" swiperSlide>
            <div *ngIf="mediaType == 'video'" class="video-container">
                <iframe *ngIf="media != null" [src]="item" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="image-container" *ngIf="mediaType == 'image'">
                <img [src]="item">
            </div>
        </ng-template>
    </swiper>
    <div (click)="closeMediaViewer()" class="close-button">
        <i class="las la-times"></i>
    </div>
</div>
<app-preloader [closed]="!pageLoading"></app-preloader>