<div class="login-layout background-color">
    <div class="login-container">
        <h3>Welcome Back!</h3>
        <p class="text">
            Enter your email address and password to access admin panel.
        </p>
        <div class="ui left icon input fluid">
            <input #email type="text" name="email" id="email" placeholder="email">
            <i class="user icon"></i>
        </div>
        <div class="ui left icon input fluid">
            <input #password type="password" name="password" id="password" placeholder="password">
            <i class="lock icon"></i>
        </div>
        <button [disabled]="isLoading" (click)="submit(email.value,password.value)" [textContent]="isLoading ? 'logging in ...' : 'login'" class="fluid ui primary button">
            <i class="sign in alternate icon "></i>
          </button>
    </div>

</div>