<div class="ui form">
    <div *ngIf="innerForm" class="inner-form-header">
        <div class="title">{{title}}</div>
        <div [disabled]="formGroup.valid == false" (click)="onSubmit()" class="ui primary left icon button">
            Add
            <i class="plus  icon"></i>
        </div>
    </div>
    <ng-container *ngFor="let group of ControlsGroups">
        <h4 *ngIf="group.title" class="ui dividing header">{{group.title}}</h4>
        <div [class.inner]="innerForm" class="form-fields">
            <div [style.width]="control.width" class="control" *ngFor="let control of group.controls">
                <!-- 1.selection -->
                <div *ngIf="control.controlType == controlTypes.Selection" class="field">
                    <label>{{control.title}}</label>
                    <fui-select (selectedOptionChange)="selectionChanged(control.name,$event)" [(ngModel)]="resultObject[control.name]" class="selection" [placeholder]="control.title" [labelField]="control.labelProp" [valueField]="control.valueProp">
                        <fui-select-option *ngFor="let item of control.data" [value]="item"></fui-select-option>
                    </fui-select>
                </div>
                <!-- 2.Multi-selection -->
                <div *ngIf="control.controlType == controlTypes.MultiSelection" class="field">
                    <label>{{control.title}}</label>
                    <fui-multi-select  [(ngModel)]="resultObject[control.name]" class="selection" [placeholder]="control.title">
                        <fui-select-option *ngFor="let item of control.data" [value]="item"></fui-select-option>
                    </fui-multi-select>
                </div>
                <!-- 3.Checkbox -->
                <div *ngIf="control.controlType == controlTypes.CheckBox" class="field fluid ">
                    <div class="ui checkbox">
                        <fui-checkbox [(ngModel)]="resultObject[control.name]" class="toggle" [isDisabled]="eCheckDisabled" [isReadonly]="eCheckReadonly">
                            {{control.title}}
                        </fui-checkbox>
                    </div>
                </div>
                <!-- 4. Url -->

                <div [formGroup]="formGroup">
                    <div *ngIf="control.controlType == controlTypes.Url" class="field">
                        <label>{{control.title}}</label>
                        <div class="ui labeled input">
                            <div class="ui label">
                                <i [attr.class]="control.icon"></i>
                            </div>
                            <input [formControlName]="control.name" [attr.name]="control.name" [(ngModel)]="resultObject[control.name]" type="url" [attr.placeholder]="control.title">
                        </div>
                    </div>
                    <!-- 5. Local File Picker -->
                    <div *ngIf="control.controlType == controlTypes.LocalFilePicker" class="field">
                        <label>{{control.title}}</label>
                        <file-local-picker [name]="control.name" [width]="control.width" [(fileUrl)]="resultObject[control.name]"></file-local-picker>

                    </div>
                    <!-- 6.Inputs -->
                    <div [class.ar]="control.alignRight" [class.error]="formGroup.controls[control.name].touched && formGroup.controls[control.name].invalid" *ngIf="control.controlType == controlTypes.TextInput || control.controlType == controlTypes.PasswordInput  || control.controlType == controlTypes.NumberInput"
                        class="field">
                        <label>{{control.title}}</label>
                        <div [class.icon]="control.icon && control.icon != ''" class="ui left input">
                            <i *ngIf="control.icon && control.icon != ''" [attr.class]="control.icon"></i>
                            <input [formControlName]="control.name" [attr.name]="control.name" [(ngModel)]="resultObject[control.name]" [attr.type]="control.controlType" [attr.placeholder]="control.title">
                        </div>
                        <div *ngIf="formGroup.controls[control.name].touched && formGroup.controls[control.name].invalid" class="error-message">
                            <p *ngIf="formGroup.controls[control.name].errors?.required">
                                the field {{control.title}} is required
                            </p>
                            <p *ngIf="formGroup.controls[control.name].errors?.minlength">
                                the minimum length of {{control.title}} is {{formGroup.controls[control.name].errors?.minlength.requiredLength}}
                            </p>
                            <p *ngIf="formGroup.controls[control.name].errors?.maxlength">
                                the maximum length of {{control.title}} is {{formGroup.controls[control.name].errors?.maxlength.requiredLength}}
                            </p>
                        </div>
                    </div>
                    <!-- 7. Text Area -->
                    <div [class.ar]="control.alignRight" [class.error]="formGroup.controls[control.name].touched && formGroup.controls[control.name].invalid" *ngIf="control.controlType ==  controlTypes.TextArea" class="field">
                        <label>{{control.title}}</label>
                        <div class="ui left icon input">
                            <i [attr.class]="control.icon"></i>
                            <textarea [formControlName]="control.name" [attr.name]="control.name" [(ngModel)]="resultObject[control.name]" cols="20" rows="10" [attr.placeholder]="control.title"></textarea>
                        </div>
                        <div *ngIf="formGroup.controls[control.name].touched && formGroup.controls[control.name].invalid" class="error-message">
                            <p *ngIf="formGroup.controls[control.name].errors?.required">
                                the field {{control.title}} is required
                            </p>
                            <p *ngIf="formGroup.controls[control.name].errors?.minlength">
                                the minimum length of {{control.title}} is {{formGroup.controls[control.name].errors?.minlength.requiredLength}}
                            </p>
                            <p *ngIf="formGroup.controls[control.name].errors?.maxlength">
                                the maximum length of {{control.title}} is {{formGroup.controls[control.name].errors?.maxlength.requiredLength}}
                            </p>
                        </div>
                    </div>
                    <!-- 8. Date Picker -->
                    <div [class.ar]="control.alignRight" [class.error]="formGroup.controls[control.name].touched && formGroup.controls[control.name].invalid" *ngIf="control.controlType ==  controlTypes.DatePicker " class="field">
                        <label>{{control.title}}</label>
                        <div class="ui left icon  input">
                            <i class="calendar icon"></i>
                            <input [attr.placeholder]="control.title" [formControlName]="control.name" [attr.name]="control.name" fuiDatepicker [(ngModel)]="resultObject[control.name]">
                        </div>
                        <div *ngIf="formGroup.controls[control.name].touched && formGroup.controls[control.name].invalid" class="error-message">
                            <p *ngIf="formGroup.controls[control.name].errors?.required">
                                the field {{control.title}} is required
                            </p>
                        </div>
                    </div>
                    <!-- 9. RichTextEditor -->
                    <div *ngIf="viewInitiated && control.controlType ==  controlTypes.RichTextEditor" [class.ar]="control.alignRight" class="field">
                        <label>{{control.title}}</label>
                        <custom-summernote-editor [editorId]="control.name" (htmlContentChange)="editorChange(control.name,$event)" [htmlContent]="control.value"></custom-summernote-editor>

                    </div>
                    <!-- 10. Table Builder -->
                    <div style="padding: 15px 25px;margin: 10px 10px;background-color: whitesmoke;border: 1px solid #ddd8d8;" *ngIf="control.controlType ==  controlTypes.TableBuilder">
                        <form-builder (submit)="innerFormAdd($event,control.value)" [title]="control.title" [inner-form]="true" [control-groups]="control.controls"></form-builder>
                        <data-table [cell-template]="cellTemplate" [show-footer]="false" [cols]="mapControlsToCols(control.controls)" [rows]="control.value">
                            <ng-template #cellTemplate let-rowData="rowData" let-data="cellData" let-col="colIndex" let-row="rowIndex">
                                <ng-container [ngSwitch]="col">
                                    <ng-container *ngSwitchCase="mapControlsToCols(control.controls)?.length -  1">
                                        <button (click)="innerFormRemove(rowData,control.value)" class="ui button red icon">
                                                <i class="la las-trash"></i>
                                                Remove
                                            </button>
                                    </ng-container>
                                    <div *ngSwitchDefault>{{data}}</div>
                                </ng-container>

                            </ng-template>
                        </data-table>
                    </div>
                    <!-- 11. Map Location -->
                    <div class="field" *ngIf="control.controlType ==  controlTypes.MapPicker">
                        <label>{{control.title}}</label>
                        <div class="map-container">
                            <agm-map (mapClick)="changeMarkCoords($event,control)" [latitude]="lat" [longitude]="long" [zoom]="zoom">
                                <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </ng-container>
    <div   *ngIf="innerForm == false" class="ui buttons">
        <button (click)="onCancel()" class="ui button">
            <i class="times  icon"></i>
            Cancel</button>
        <div class="or"></div>
        <button [disabled]="formGroup.valid == false" (click)="onSubmit()" class="ui primary button">
            <i class="check icon"></i>
            Save</button>
    </div>
</div>