<!-- Page Header -->
<div class="page-header">
    <div class="content">
        <h1 [innerHTML]="'nav_bar.about' | translate" class="title"></h1>
        <h5  class="nav-link"><span [innerHTML]="'nav_bar.home' | translate" class="link active"
                [routerLink]="['/','en','home']">Home</span><span> >>
            </span><span [innerHTML]="'nav_bar.about'| translate"> </span></h5>
    </div>
</div>
<div class="intro-section">
    <div class="bg-area">
    </div>
    <div class="shape"></div>
    <div class="images-section">
        <div class="pattern-dots-md gray-light image-container">
            <img src="assets/temp/images/about.jpg" alt="">
        </div>
    </div>
    <div class="content-section">
        <div [innerHTML]="'About.intro_section_subtitle' | translate" class="subtitle">
        </div>
        <div [innerHTML]="'About.intro_section_title' | translate" class="title">
        </div>
        <div [innerHTML]="'About.intro_section_content' | translate" class="content">
        </div>
    </div>
</div>
<div class="vms-section">
    <div class="section dark">
        <div class="icon-container">
            <svg-icon [applyClass]="true" class="icon eye" src="assets/icons/eye.svg"></svg-icon>
        </div>
        <hr class="sep">
        <h1 [innerHTML]="'About.vision_title' | translate"></h1>
        <div [innerHTML]="'About.vision' | translate" class="content">

        </div>
    </div>
    <div class="section">
        <div class="icon-container">
            <svg-icon [applyClass]="true" class="icon " src="assets/icons/target.svg"></svg-icon>
        </div>
        <hr class="sep">
        <h1 [innerHTML]="'About.mission_title' | translate"></h1>
        <div [innerHTML]="'About.mission' | translate" class="content">

        </div>
    </div>
    <div class="section light">
        <div class="icon-container">
            <svg-icon [applyClass]="true" class="icon" src="assets/icons/strategy.svg"></svg-icon>
        </div>
        <hr class="sep">

        <h1 [innerHTML]="'About.strategy_title' | translate"></h1>
        <div [innerHTML]="'About.strategy' | translate" class="content">

        </div>
    </div>
</div>
<div class="values-section">
    <h1 [innerHTML]="'About.values_title' | translate" class="title"></h1>
    <hr class="sep">
    <h3 [innerHTML]="'About.values_subtitle' | translate"></h3>
    <div class="values">
        <div *ngFor="let value of values; let i = index" class="value">
            <div class="title-container">
                <div class="bg-number">0{{i+1}}</div>
                <h2 [innerHTML]="'About.'+value.title!.toLowerCase()+'_title' | translate">

                </h2>
            </div>
            <div [innerHTML]="'About.'+value.title!.toLowerCase()+'_content' | translate" class="content">
            </div>
        </div>
    </div>
    <br><br><br>
</div>

<div class="objectives-section">
    <div class="bg-img"></div>
    <div class="content">
        <div class="pattern pattern-dots-lg"></div>
        <div style="margin:30px;">
            <h4 [innerHTML]="'About.objectives_subtitle' | translate"></h4>
            <h1 [innerHTML]="'About.objective_title' | translate">Our Objectives</h1>
            <hr class="sep">
        </div>
        <div class="objectives">
            <div *ngFor="let i of [1,2,3,4,5,6,7,8]" class="objective">
                <div class="number">
                    {{i}}
                </div>
                <div [innerHTML]="'About.obj_'+i | translate" class="content-text">

                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="team.length > 0" class="team-section">
    <div class="intro">
        <div style="z-index: -1;" class="pattern pattern-diagonal-lines-sm gray-light"></div>
        <div [innerHTML]="'About.team_subtitle' | translate" class="subtitle">

        </div>
        <div [innerHTML]="'About.team_title' | translate" class="title">

        </div>
        <div [innerHTML]="'About.team_description' | translate" class="content"> </div>
    </div>
    <div *ngFor="let member of team" class="team-card">
        <div [style.background-image]="'url(' + member.image?.path + ')'" style="background-size:cover" class="image">
            <div class="socials">
                <i class="cib-facebook-f"></i>
                <i class="cib-twitter"></i>
                <i class="cib-linkedin"></i>
                <i class="cib-instagram"></i>
            </div>
        </div>
        <div [textContent]="currentLang == 'ar' ? member.name?.ar : member.name?.en" class="name"></div>
        <div [textContent]="currentLang == 'ar' ? member.position?.ar : member.position?.en" class="pos"></div>
    </div>

</div>


<br><br><br>
<app-preloader [closed]="!pageLoading"></app-preloader>