/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~@coreui/icons/css/all.min.css";
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/css/autoplay';
@import '~pattern.css/dist/pattern.min.css';
@font-face {
    font-family: "Poppin";
    src: url("assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppin";
    src: url("assets/fonts/Poppins-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Poppin";
    src: url("assets/fonts/Poppins-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Poppin";
    src: url("assets/fonts/Poppins-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Poppin";
    src: url("assets/fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Poppin";
    src: url("assets/fonts/Poppins-Light.ttf");
    font-weight: 100;
}
*{
    font-family: "Poppin";
    padding: 0px;
    margin: 0px;
}
/********************** global news slide *******************/
.news-section{
    .swiper-slide{
        display: flex;
        justify-content: center;
        width: fit-content!important;
    }
}
/******************************** input style ******************************/
.input-container {
    padding: 15px;
    background-color: #f0eeee;
    margin: 10px;
    border: 1px solid transparent;


    input,
    textarea,select {
        border: none;
        background-color: transparent;
        color: black;
        font-size: 16px;
        outline: none;
        width: 100%;
    }
}
.input-container:focus-within{
    border: 1px solid $primary-color;
}

.row {
    display: flex;
    flex-wrap: wrap;

    .input-container {
        flex: 1;
        min-width: 250px;
    }
}