<footer>
    <div class="section">
        <div class="intro-container">
            <img class="logo" src="assets/logo-white.svg" alt="">
            <div [innerHTML]="'Footer.org_intro' | translate" class="intro-content">
               
            </div>
            <div class="socials">
                <div class="icon-container"><i class="cib-facebook"></i></div>
                <div class="icon-container"><i class="cib-twitter"></i></div>
                <div class="icon-container"><i class="cib-instagram"></i></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="quick-links">
            <div [innerHTML]="'Footer.explore_links' | translate" class="title"></div>
            <ul class="links">
                <li [innerHTML]="'nav_bar.'+link.title!.toLowerCase() | translate" *ngFor="let link of links"></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="gallery-area">
            <div [innerHTML]="'Footer.gallery' | translate" class="title"></div>
            <div class="images">
                <img [src]="baseUrl+'/general/24984574-0399-438b-9639-71e38eac0148.jpg'" alt="">
                <img [src]="baseUrl+'/general/4a7eae89-0f9f-4fb6-a2a6-cc6c8bc68a3c.jpg'" alt="">
                <img [src]="baseUrl+'/general/7b02311c-d093-4240-bbf4-4c7776bc13e8.jpg'" alt="">
                <img [src]="baseUrl+'/images/95aa96c1-4e1d-423e-9d91-4e3f82335d60.jpg'" alt="">
                <img [src]="baseUrl+'/images/df91b053-eb98-44a0-bd19-f8b75e0a78b0.jpg'" alt="">
                <img [src]="baseUrl+'/images/982e6c9a-6bd9-4fad-ad7a-37fbceed923a.jpg'" alt="">

            </div>
        </div>
    </div>
    <div class="contact-area">
        <div class="title-container">
            <div class="icon-container">
                <i class="cil-chat-bubble"></i>
            </div>
            <div [innerHTML]="'Footer.get_in_touch' | translate" class="title">
                
            </div>
        </div>
        <div class="contacts-info">
            <div class="contact-info">
                <div class="icon">
                    <i class="cil-phone"></i>
                </div>
                <div>
                    <div [innerHTML]="'Footer.phone_title' | translate" class="title"> </div>
                    <div [innerHTML]="'Footer.phone' | translate" class="content">
                        
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="icon">
                    <i class="cil-envelope-open"></i>
                </div>
                <div>
                    <div [innerHTML]="'Footer.email_title' | translate" class="title"> </div>
                    <div [innerHTML]="'Footer.email' | translate" class="content">
                        
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="icon">
                    <i class="cil-map"></i>
                </div>
                <div>
                    <div [innerHTML]="'Footer.location_title' | translate" class="title"> </div>
                    <div [innerHTML]="'Footer.location' | translate" class="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [innerHTML]="'Footer.copyright' | translate" class="copy-right-area">
        
    </div>
</footer>