<footer>
    <div class="section">
        <div class="intro-container">
            <img class="logo" src="assets/logo-white.svg" alt="">
            <div [innerHTML]="'Footer.org_intro' | translate" class="intro-content">
               
            </div>
            <div class="socials">
                <div class="icon-container"><i class="cib-facebook"></i></div>
                <div class="icon-container"><i class="cib-twitter"></i></div>
                <div class="icon-container"><i class="cib-instagram"></i></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="quick-links">
            <div [innerHTML]="'Footer.explore_links' | translate" class="title"></div>
            <ul class="links">
                <li [innerHTML]="'nav_bar.'+link.title!.toLowerCase() | translate" *ngFor="let link of links"></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="gallery-area">
            <div [innerHTML]="'Footer.gallery' | translate" class="title"></div>
            <div class="images">
                <img src="assets/temp/images/portfolio-1.jpg" alt="">
                <img src="assets/temp/images/portfolio-2.jpg" alt="">
                <img src="assets/temp/images/portfolio-3.jpg" alt="">
                <img src="assets/temp/images/portfolio-4.jpg" alt="">
                <img src="assets/temp/images/portfolio-5.jpg" alt="">
                <img src="assets/temp/images/portfolio-6.jpg" alt="">

            </div>
        </div>
    </div>
    <div class="contact-area">
        <div class="title-container">
            <div class="icon-container">
                <i class="cil-chat-bubble"></i>
            </div>
            <div [innerHTML]="'Footer.get_in_touch' | translate" class="title">
                
            </div>
        </div>
        <div class="contacts-info">
            <div class="contact-info">
                <div class="icon">
                    <i class="cil-phone"></i>
                </div>
                <div>
                    <div [innerHTML]="'Footer.phone_title' | translate" class="title"> </div>
                    <div [innerHTML]="'Footer.phone' | translate" class="content">
                        
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="icon">
                    <i class="cil-envelope-open"></i>
                </div>
                <div>
                    <div [innerHTML]="'Footer.email_title' | translate" class="title"> </div>
                    <div [innerHTML]="'Footer.email' | translate" class="content">
                        
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="icon">
                    <i class="cil-map"></i>
                </div>
                <div>
                    <div [innerHTML]="'Footer.location_title' | translate" class="title"> </div>
                    <div [innerHTML]="'Footer.location' | translate" class="content">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [innerHTML]="'Footer.copyright' | translate" class="copy-right-area">
        
    </div>
</footer>