<div [class.rtl]="direction == 'rtl'" [class.open-menu]="opened" class="menu-container">
    <div class="menu-container-content">
        <div class="options">
            <div class="logo">
                <img src="assets/logo-white.png" alt="" srcset="">
            </div>
            
        </div>
        <div class="user-image-container">
            <div class="user-image">
                <img *ngIf="currentUser.image != null && currentUser.image !='none'" [src]="currentUser.image">
                <div *ngIf="currentUser.image == null || currentUser.image =='none'" [src]="currentUser.image" class="image-placeholder">
                    <i class="las la-user-tie"></i>
                </div>

            </div>
            <div>
                <h4>{{currentUser.username}}</h4>
                <p [textContent]="currentUser.isManager ? 'Manager' : 'Admin'"> </p>
            </div>
        </div>
        <div class="menu-items">
            <div class="menu-group" *ngFor="let item of menuItems">
                <div class="title">{{item.title}}</div>
                <div  class="children" *ngFor="let menuItem of item.children; let i = index">
                    <div RippleEffect [class.sub-menu]="menuItem.open" [class.active]="selectedMenuItem == menuItem" (click)="selectItem(i,item)" class="menu-item">
                        <div class="menu-item-info">
                            <div style="display: flex;">
                                <i [attr.class]="menuItem.icon"></i>
                                <div class="item-title">
                                    {{menuItem.title}}
                                </div>
                            </div>
                            <ng-container *ngIf="direction == 'ltr'">
                                <i *ngIf="menuItem.children != undefined" class="eva eva-chevron-right"></i>
                            </ng-container>
                            <ng-container *ngIf="direction == 'rtl'">
                                <i *ngIf="menuItem.children != undefined" class="eva eva-chevron-left"></i>
                            </ng-container>
                        </div>
                        <div class="sub-children">
                            <div RippleEffect (click)="$event.stopPropagation();selectItem(i,item,childIndex)" *ngFor="let child of menuItem.children;let childIndex = index" [class.active]="selectedMenuItem == child" class="menu-item sub-child">
                                <i [attr.class]="child.icon"></i>
                                <div class="item-title">
                                    {{child.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<fui-dimmer class="page" [(isDimmed)]="loading">
    <div class="ui active loader"></div>
</fui-dimmer>