<!-- Page Header -->
<div class="page-header">
    <div  class="content">
        <h1 class="title">Contact Us</h1>
        <h5 class="nav-link"><span class="link active" [routerLink]="['/','en','home']">Home</span><span> >> </span><span>Contact Us</span>
        </h5>
    </div>
</div>
<div class="page">
    <div class="background"></div>
    <div class="info">
        <h1>CONTACT TO SUPPORT TEAM</h1>
        <div class="info-cards">
            <div class="info-card">
                <i class="cil-phone"></i>
                <div class="title">Call Us</div>
                <div class="content">+249-128-6470-19</div>
            </div>
            <div class="info-card">
                <i class="cil-envelope-closed"></i>
                <div class="title">Mail Us</div>
                <div class="content">Spaces@Spaces.com</div>
            </div>
            <div class="info-card">
                <i class="cil-map"></i>
                <div class="title">Visit Us</div>
                <div class="content">khartoum,Arkwit, square 15</div>
            </div>
            <div class="info-card">
                <i class="cil-braille"></i>
                <div class="title">Follow Us</div>
                <div class="content">
                    <span class="link">Facebook</span>,<span class="link">Twitter</span>,<span
                        class="link">Instagram</span>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-form">
        <h1>Drop Us A Message</h1>
        <form>
            <div class="row">
                <div class="input-container">
                    <input type="text" placeholder="Your Name">
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="input-container">
                    <input type="text" placeholder="Phone Number">
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Subject">
                </div>
            </div>
            <div class="input-container">
                <textarea name="message" placeholder="Your Message..." cols="30" rows="10"></textarea>
            </div>
        </form>
        <div class="act-button">Submit</div>
        <br><br><br>
    </div>
    <div class="map-container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3843.573445977556!2d32.555498314330755!3d15.560981056991887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x168e914d1cd574d3%3A0x9443f0f8bf37d0ed!2sSpaces%20for%20Peace%20and%20Development%20Organization!5e0!3m2!1sen!2s!4v1656107484224!5m2!1sen!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>