<!-- Page Header -->
<div class="page-header">
    <div  class="content">
        <h1 [innerHTML]="'nav_bar.contact_us'| translate" class="title">Contact Us</h1>
        <h5 class="nav-link"><span class="link active" [innerHTML]="'nav_bar.home'| translate" [routerLink]="['/','en','home']"></span><span> >> </span><span [innerHTML]="'nav_bar.contact_us'| translate"></span>
        </h5>
    </div>
</div>
<div class="page">
    <div class="background"></div>
    <div class="info">
        <h1 [innerHTML]="'contact_us.contacts_title'| translate"></h1>
        <div class="info-cards">
            <div class="info-card">
                <i class="cil-phone"></i>
                <div [innerHTML]="'contact_us.call_us'| translate" class="title"></div>
                <div class="content" [innerHTML]="'nav_bar.phone'| translate"></div>
            </div>
            <div class="info-card">
                <i class="cil-envelope-closed"></i>
                <div [innerHTML]="'contact_us.mail_us'| translate" class="title"></div>
                <div class="content" [innerHTML]="'nav_bar.email'| translate"></div>
            </div>
            <div class="info-card">
                <i class="cil-map"></i>
                <div [innerHTML]="'contact_us.visit_us'| translate" class="title"></div>
                <div class="content" [innerHTML]="'nav_bar.location'| translate"></div>
            </div>
            <div class="info-card">
                <i class="cil-braille"></i>
                <div [innerHTML]="'contact_us.follow_us'| translate" class="title">Follow Us</div>
                <div class="content">
                    <span class="link">Facebook</span>,<span class="link">Twitter</span>,<span
                        class="link">Instagram</span>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-form">
        <h1 [innerHTML]="'contact_us.message_title'| translate"></h1>
        <form #contactForm="ngForm">
            <div class="row">
                <div class="input-container">
                    <input required [(ngModel)]="message.fullName" name="fullname" type="text" [placeholder]="'contact_us.name' | translate">
                </div>
                <div class="input-container">
                    <input required [(ngModel)]="message.email" name="email" type="text" [placeholder]="'contact_us.email' | translate">
                </div>
            </div>
            <div class="row">
                <div class="input-container">
                    <input required [(ngModel)]="message.phone" name="phone" type="text" [placeholder]="'contact_us.phone' | translate">
                </div>
                <div class="input-container">
                    <input required [(ngModel)]="message.subject" name="subject" type="text" [placeholder]="'contact_us.subject' | translate">
                </div>
            </div>
            <div class="row">
                <div class="input-container">
                    <textarea required [(ngModel)]="message.content" name="content" name="message" [placeholder]="'contact_us.message' | translate" cols="30" rows="10"></textarea>
                </div>
            </div> 
            <input (click)="sendMessage()"  type="submit" class="act-button" [value]=" isLoading ? 'Loading ...' : 'contact_us.send' | translate">
        </form>
        <br><br><br>
    </div>
    <div class="map-container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3843.573445977556!2d32.555498314330755!3d15.560981056991887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x168e914d1cd574d3%3A0x9443f0f8bf37d0ed!2sSpaces%20for%20Peace%20and%20Development%20Organization!5e0!3m2!1sen!2s!4v1656107484224!5m2!1sen!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>