<nav>
    <div class="top-nav">
        <div class="contacts-info">
            <div class="contact-info">
                <div class="icon-container">
                    <i class="cil-envelope-open"></i>
                </div>
                <span [innerHTML]="'nav_bar.email' | translate"></span>

            </div>
            <div class="contact-info">
                <div class="icon-container">
                    <i class="cil-phone"></i>
                </div>
                <span [innerHTML]="'nav_bar.phone' | translate"></span>
            </div>
            <div class="contact-info">
                <div class="icon-container">
                    <i class="cil-map"></i>
                </div>
                <span [innerHTML]="'nav_bar.location' | translate"></span>
            </div>

        </div>
        <div class="end-section" style="display: flex;align-items:center">
            <div class="socials">
                <div class="icon-container"><i class="cib-facebook"></i></div>
                <div class="icon-container"><i class="cib-twitter"></i></div>
                <div class="icon-container"><i class="cib-instagram"></i></div>
            </div>
            <div class="langs">
                <div (click)="changeLang('en')" [class.active]="currentLang == 'en'" class="lang">EN</div>
                <span class="sep">/</span>
                <div  (click)="changeLang('ar')"[class.active]="currentLang == 'ar'" class="lang"> AR</div>
            </div>
        </div>
    </div>
    <div [class.opened]="opened" class="main-nav">
        <div class="logo">
            <img class="image" src="assets/logo.svg">
            <img class="icon" src="assets/icon.svg">

        </div>
        <div class="navbar-list">
            <ul class="main-list">
                <li class="main-menu-item" [routerLink]="item.children != undefined ? undefined : ['/',currentLang,item.route]"
                    *ngFor="let item of navList">
                    <p [innerHTML]="'nav_bar.'+item.title!.toLowerCase() | translate"></p>
                    <div *ngIf="sectors?.length! > 0 && item.title?.toLocaleLowerCase() == 'sectors'" class="sub-menu-container">
                        <ul>
                            <li [textContent]="currentLang == 'ar' ? sector.title!.ar : sector.title!.en" [routerLink]="['/',currentLang,item.route,sector.id]" class="submenu-item"
                                *ngFor="let sector of sectors">
                                
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div [class.ar]="currentLang == 'ar'" class="act-buttons">
            <div (click)="opened = !opened" class="act-button icon basic">
                <i class="cil-menu"></i>
            </div>
            <div class="act-button">
                <i class="las la-donate icon"></i>
                <span [innerHTML]="'nav_bar.donate' | translate" class="text"></span>
            </div>
            <div class="act-button accent">
                <i class="las la-handshake icon"></i>
                <span [innerHTML]="'nav_bar.get_involved' | translate" class="text"></span>
            </div>
        </div>
    </div>

</nav>