@import 'variables';

.page-header {
    width: 100%;
    height: 60vh;
    background-image: url("/assets/images/header-bg.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    text-align: center;

    h1 {
        font-size: 38px;
        margin-bottom: 20px;
        color: white !important;
        text-transform: uppercase;
    }

    .link {
        cursor: pointer;
    }

    .link.active {
        color: $accent-color;
        font-size: 18px;
    }

}

.subtitle {
    font-size: 16px;
    font-weight: bold;
    color: $accent-color;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.title {
    font-size: 33px;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 25px;
}

.sep {
    width: 150px;
    height: 6px;
    background-color: $accent-color;
    border: none;
    margin-bottom: 20px;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 100vh;
    height: auto;

    .shape {
        height: 150px;
        width: 300px;
        position: absolute;

    }

    .images-section {
        width: 40%;

        .image-container {
            width: 70%;
            color: $primary-color;

            img {
                height: auto;
                width: 100%;
                margin-top: 30px;
                margin-left: 30px;
            }
        }
    }

    .content-section {
        width: 38%;

        .content {
            text-align: justify;
            margin-bottom: 25px;

        }

        .stats {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            background-color: $primary-color;
            color: white;
            border-top: 7px solid $accent-color;
            height: fit-content;


            .stat {
                display: flex;
                margin: 15px;
                flex: 1;
                min-width: 160px;

                .icon {
                    fill: white;
                    stroke: white;
                    height: 60px;
                    width: 60px;
                    margin-right: 25px;
                }
            }
        }
    }
}

.projects-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0px;
    background-color: whitesmoke;
    
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .project-card-container {
            width: 330px;
            height: 500px;
            position: relative;
            margin: 30px;

            .date {
                position: absolute;
                top: -20px;
                left: 15px;
                background-color: $primary-color;
                .day,
                .month {
                    height: 40px;
                    width: 50px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                }

                .month {
                    background-color: darken($color: $primary-color, $amount: 10%);
                }
            }

            .project-card {
                width: 100%;
                height: fit-content;
                margin-top: 20px;
                padding: 15px;
                background-color: white;
                transition: 0.5s all ease;
                cursor: pointer;
                h5{
                    margin-top: 40px;
                    margin-bottom: 5px;
                    color: white;
                    padding: 5px 10px;
                    background-color: $accent-color;
                    width: fit-content;
                }
                h3 {
                    color: $primary-color;
                    margin-bottom: 15px;
                    width: 100%;

                }

                .content {
                    text-align: justify;
                    font-size: 13px;
                    margin-bottom: 25px;
                    width: 100%;

                }

                img {
                    height: 270px;
                    width: 100%;

                }

            }
            .project-card:hover{
                transform: translateY(-10px);
            }
        }
    }
}
@media screen and (max-width:850px) {
    .intro-section {
        .images-section {
            width: 55%;
        }
    }

     
}

@media screen and (max-width:750px) {
    .intro-section {
        flex-direction: column;

        .images-section,
        .content-section {
            width: 90%;
            margin: 25px 0px
        }

        .images-section {
            display: flex;
            justify-content: center;
        }
    }
}