<div class="page-header">
    <div class="content">
        <h1 [innerHTML]="'nav_bar.sectors'| translate" class="title"></h1>
        <h5 class="nav-link"><span class="link active" [innerHTML]="'nav_bar.home'| translate"
                [routerLink]="['/','en','home']"></span><span> >>
            </span><span [innerHTML]="'nav_bar.sectors'| translate">
            </span></h5>
    </div>
</div>
<div class="intro-section">

    <div class="shape"></div>
    <div class="images-section">
        <div class="pattern-dots-md gray-light image-container">
            <img src="assets/temp/images/obj-bg.jpg" alt="">
        </div>
    </div>
    <div class="content-section">
        <div [innerHTML]="'what_we_do.sector_subtitle'| translate" class="subtitle">

        </div>
        <div [textContent]="currentLang == 'ar' ? sector!.title!.ar : sector!.title!.en" class="title">

        </div>
        <div [innerHTML]="currentLang == 'ar' ? sector!.description!.ar : sector!.description!.en" class="content">

        </div>
        <br><br>
        <div class="stats">
            <div class="stat">
                <svg-icon [src]="sector?.image?.path!" [applyClass]="true" class="icon"></svg-icon>
                <div>
                    <h1 class="number">34</h1>
                    <h5>Projects</h5>
                </div>
            </div>
            <div class="stat">
                <svg-icon src="assets/icons/people.svg" [applyClass]="true" class="icon"></svg-icon>
                <div>
                    <h1 class="number">4000</h1>
                    <h5>beneficiaries</h5>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="projects-section">
    <div style="text-align: center;" class="subtitle">
        <span [innerHTML]="'what_we_do.project_subtitle'| translate"></span> <span
            [textContent]="currentLang == 'ar' ? sector!.title!.ar : sector!.title!.en"></span>
    </div>
    <div [textContent]="currentLang == 'ar' ?  ' مشاريع ' + sector!.title!.ar : sector!.title!.en + ' Projects ' "
        class="title">

    </div>
    <br><br>
    <div class="projects">
            <div *ngFor="let project of projects" class="project-card">
                <div class="state-info">
                    <i [textContent]="currentLang == 'ar' ? project.region!.title?.ar : project.region!.title?.en" class="las la-map"></i>
                    
                </div>
                <div class="img-container">
                    <img src="assets/temp/images/portfolio-1.jpg" alt="">
                    <div class="card-overlay"></div> 
                    <div class="date">
                        <div class="day">21</div>
                        <div class="month">MAY</div>
                    </div>
                </div>
                <div class="content">
                    <br>
                    <h4 [textContent]="currentLang == 'ar' ? project.title?.ar : project.title?.en"></h4>
                    <div class="bottom-section">
                        <div class="info">
                            <i class="las la-user"></i>
                            <span [textContent]="project.author?.username"></span>
                        </div>
                        <div class="info">
                            <i class="las la-comments"></i>
                            10 Comments
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<app-preloader [closed]="!pageLoading"></app-preloader>