@import 'variables';

.page-header {
    width: 100%;
    height: 60vh;
    background-image: url("/assets/images/header-bg.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    text-align: center;

    h1 {
        font-size: 38px;
        margin-bottom: 20px;
        color: white !important;
        text-transform: uppercase;
    }

    .link {
        cursor: pointer;
    }

    .link.active {
        color: $accent-color;
        font-size: 18px;
    }

}

.subtitle {
    font-size: 16px;
    font-weight: bold;
    color: $accent-color;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.title {
    font-size: 33px;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 25px;
}

.sep {
    width: 150px;
    height: 6px;
    background-color: $accent-color;
    border: none;
    margin-bottom: 20px;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 100vh;
    height: auto;

    .shape {
        height: 150px;
        width: 300px;
        position: absolute;

    }

    .images-section {
        width: 40%;

        .image-container {
            width: 70%;
            color: $primary-color;

            img {
                height: auto;
                width: 100%;
                margin-top: 30px;
                margin-left: 30px;
            }
        }
    }

    .content-section {
        width: 38%;

        .content {
            text-align: justify;
            margin-bottom: 25px;

        }

        .stats {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            background-color: $primary-color;
            color: white;
            border-top: 7px solid $accent-color;
            height: fit-content;


            .stat {
                display: flex;
                margin: 15px;
                flex: 1;
                min-width: 160px;

                .icon {
                    fill: white;
                    stroke: white;
                    height: 60px;
                    width: 60px;
                    margin-right: 25px;
                }
            }
        }
    }
}

.projects-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0px;
    background-color: whitesmoke;

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .project-card {
            height: auto;
            width: 330px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            .state-info {
                position: absolute;
                padding: 5px 10px;
                background-color: $primary-color;
                color: white;
                font-weight: bold;
                z-index: 10;
                top: 55%;
                right: 0px;
                font-size: 13px;

                i {
                    font-size: 22px;
                }
            }

            .img-container {
                height: 250px;
                overflow: hidden;
                position: relative;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    transition: 0.5s all ease;

                }

                .card-overlay {
                    position: absolute;
                    background-color: #0000006b;
                    height: 100%;
                    width: 100%;
                    top: 0;
                }

                .date {
                    height: 80px;
                    width: 80px;
                    border-bottom-left-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    color: $accent-color;
                    background-color: white;
                    flex-direction: column;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: absolute;
                    top: -10px;
                }

            }

            .content {
                border: 1px solid #dddcdc96;
                border-top: none;
                background-color: white;
                margin-top: 0px;
                overflow: hidden;
                width: 100%;

                h4 {
                    margin: 15px 10px;
                    transition: .5s all ease;
                }

                .bottom-section {
                    border-top: 1px solid #dddcdc96;
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;

                    .info {
                        display: flex;
                        align-items: center;
                        margin: 20px 05px;

                        i {
                            font-size: 22px;
                            margin: 0px 5px;
                        }
                    }
                }
            }
        }

        .project-card:hover {
            .img-container {
                img {
                    transform: scale(1.3);
                }
            }

            .content {
                h4 {
                    text-decoration: underline;
                    color: $primary-color ;
                }
            }
        }
    }
}

@media screen and (max-width:850px) {
    .intro-section {
        .images-section {
            width: 55%;
        }
    }


}

@media screen and (max-width:750px) {
    .intro-section {
        flex-direction: column;

        .images-section,
        .content-section {
            width: 90%;
            margin: 25px 0px
        }

        .images-section {
            display: flex;
            justify-content: center;
        }
    }
}